*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: cornflowerblue;
    height: 100vh;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem; 
}
.login-contect
{
    border: 5px solid rgba(14, 14, 14, 0.2);
    background: transparent;
    backdrop-filter: blur(20px);
    width: 400px;
    color: white;
    padding: 30px 40px;
    border-radius: 20px;
}
.login-contect h1
{
    font-size: 40px;
    text-align: center;
    padding: 15px;
    letter-spacing: 3px;
}
.login-contect .input
{
    width: 100%;
    height: 50px;
  
    margin: 30px 0;
}
.input input{
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    border: 2px solid rgba(14, 14, 14, 0.2);
    border-radius: 40px;
    font-size: 16px;
    padding: 0 20px;
}
.input input::placeholder
{
    color: aliceblue;
}
.forgot-pass .remember-me
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14.5px;
    
    margin: -15px 0 15px ;
}
.login-contect .forgot-pass a
{

    display: flex;
    font-size: 14px;
    color: aliceblue;
    margin: 15px 0;
    font-weight: 600;
}
.forgot-pass a
{
    
    color: white;
    text-decoration: none;
    
}
.login-contect button
{
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 40px;
    background-color: #ffffff;
    font-weight: 600;
    box-shadow: o o 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease-out;
} 

.login-contect .dont-have-account
{
    
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    padding-bottom: 15px;
}
.login-button button:hover
{
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: rgba(255, 255, 255, 0.44);
}
.login-button button:focus
{
    outline: 2px solid currentColor;
    outline-offset: 2px;
    background-color:rgba(18, 17, 17, 0.44) ;
}
.dont-have-account a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.dont-have-account a:hover{
    text-decoration: underline;
}