*
{
    margin: 0;
    padding: 0;
    color: white;
}
#Bar
{
    height : 60px; 
    background-color: black;
}
#logo
{
    font-size: 25px;
    color: #f08804;

    width: 200px;
    margin-right: 200px;
}
a{
    margin-right: 200px;
}
button
{
    background-color: #f08804;
    color: black;
    border: 2px solid black;
    width: 60px;
    text-align: center;
}
