*
{
    margin: 0;
    padding: 0;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    background-color: rgba(0, 0, 0, 0.858);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main
{
    background-color:black;
}
h1{
    padding: 30px;
    text-align: center;
}
input
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}
